.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    background-color: #0070ff;
    font-family: ubuntu;
    font-size: 25px;
}
.userlogo{
    display: flex;
}