.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #0070ff;
    font-family: ubuntu;
    font-size: 25px;
}
.userlogo{
    display: flex;
}
.userpic{
    max-width: 30px;
    border-radius: 30%;
    margin-left: 5px;
    border: 2px solid black;
}