<app-navbar></app-navbar>
<div class="signup-form">
    <h1><strong>N</strong>ou <strong>U</strong>suari</h1>
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="user.username" type="text" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="user.password" type="password" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email" type="email" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="user.description" type="text"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="registerUser()" class="reg-btn">Crear Usuari</button>
    <br><br>
    <a mat-raised-button routerLink="/login">Ja estic registrat!</a>
</div>