$blacktrans: rgba(0, 0, 0, 0.815);
$open-sans: 'Open Sans',
sans-serif;
.login-form {
    text-align: center;
    margin-top: 60px;
}

h1 {
    font-family: $open-sans;
}

.log-btn {
    background-color: $blacktrans;
    color: white;
}