.meetup-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: calc(100vh*0.7);
    overflow-x: auto;
}
.userevents{
    display: flex;
    flex-direction: column;
}