<div class="home">

    <app-navbar></app-navbar>
    <div class="filterbox">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header class="dark">
                    <mat-panel-title style="font-size:20px">
                        Filtra els espectacles
                    </mat-panel-title>
                    <mat-panel-description>
                        mostra el contigut desitjat
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="filters">
                    <div class="filtre">
                        <span> Filtra per data d'inici:</span>
                        <div style="margin-left: 10px;">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="inici">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="filtre">
                        <span> Filtra per autor</span>
                        <div style="margin-left: 10px;">
                            <mat-form-field >
                                <input matInput [(ngModel)]="user">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="filtre">
                        <span> Filtra per categoria</span>
                        <div style="margin-left: 10px;">
                            <mat-form-field>
                                <mat-select [(ngModel)]="categoria" *ngIf="Categories">
                                    <mat-option value=""> 
                                        Cap
                                    </mat-option>
                                    <mat-option *ngFor="let c of Categories" [value]="c.key">
                                        <div>
                                            <span matBadge="{{c.count}}" matBadgeOverlap="false">{{c.key}}  </span>
                                        </div>
                                    </mat-option>
                                  </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="filtre">
                        <span> Filtra per plataforma</span>
                        <div style="margin-left: 10px;">
                            <mat-form-field>
                                <mat-select [(ngModel)]="platform">
                                    <mat-option value=""> 
                                        Cap
                                    </mat-option>
                                    <mat-option value="instagram">
                                        <div style="display: flex; align-items: center;">
                                            <img src="assets/icons/logo-instagram-black.svg">
                                            <span style="margin-left: 10px;">Instagram </span>
                                        </div>
                                    </mat-option>
                                    <mat-option value="youtube">
                                        <div style="display: flex; align-items: center;">
                                            <img src="assets/icons/logo-youtube-black.svg">
                                            <span style="margin-left: 10px;">YouTube </span>
                                        </div>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-raised-button (click)="GetFilteredMeetups()"> 
                        <span>Filtra </span>  
                        <img src="assets/icons/search.svg">
                    </button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
    <div class="meetup-list">
        <div *ngFor="let meetup of Meetups">
            <app-event [meetup]="meetup">
            </app-event>
        </div>
        <span *ngIf="Meetups.length == 0">No hi han resulats</span>
    </div>

</div>