<div class="home">

    <app-navbar></app-navbar>
    <div class="filterbox">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-size:20px">
                        Filtra els espectacles
                    </mat-panel-title>
                    <mat-panel-description>
                        mostra el contigut desitjat
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="filters">
                    <div class="filtre">
                        <span> Filtra per data d'inici:</span>
                        <div style="margin-left: 10px;">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="filtre">
                        <span> Filtra per autor</span>
                        <div style="margin-left: 10px;">
                            <mat-form-field>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="filtre">
                        <span> Filtra per categoria</span>
                        <div style="margin-left: 10px;">
                            <mat-form-field>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="filtre">
                        <span> Filtra per plataforma</span>
                        <div style="margin-left: 10px;">
                            <mat-form-field>
                                <mat-select>
                                    <mat-option value="INSTAGRAM">
                                        <div style="display: flex; align-items: center;">
                                            <img src="assets/icons/logo-instagram.svg">
                                            <span style="margin-left: 10px;">Instagram </span>
                                        </div>
                                    </mat-option>
                                    <mat-option value="YOUTUBE">
                                        <div style="display: flex; align-items: center;">
                                            <img src="assets/icons/logo-youtube.svg">
                                            <span style="margin-left: 10px;">YouTube </span>
                                        </div>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-raised-button> 
                        <span>Filtra </span>  
                        <img src="assets/icons/search.svg">
                    </button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
    <div class="meetup-list">
        <div *ngFor="let meetup of Meetups">
            <app-event [meetup]="meetup">
            </app-event>
        </div>
    </div>

</div>