<div class="meetup-form">
    <h1>Afegir nou event </h1>
    <div class="meetupInfo">
        <div class="mainInfo">
            <mat-form-field [ngClass]="{error: noTitle}" >
                <mat-label>Títol</mat-label>
                <input matInput [(ngModel)]="data.title" type="text" required>
            </mat-form-field>
            <mat-form-field [ngClass]="{error: noStart}">
                <mat-label>Inici</mat-label>
                    <!-- <input matInput [matDatepicker]="pickerStart" [(ngModel)]="data.start" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker> -->
                    <input matInput type="datetime-local" [(ngModel)]="data.start" required [errorState]="noStart">
                    
            </mat-form-field>
            <mat-form-field [ngClass]="{error: noEnd}">
                <mat-label>Final</mat-label>
                    <!-- <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="data.end" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker> -->
                    <input matInput type="datetime-local" [(ngModel)]="data.end" required>
                </mat-form-field>
            <mat-form-field>
                <mat-label>Descripció</mat-label>
                <textarea matInput [(ngModel)]="data.description" type="text"></textarea>
            </mat-form-field>

            <div class="container">
                <input type="file" style="display: none" #fileInput accept="image/*" (change)="onChangeFileInput()" />
                <button mat-raised-button class="file-select-button" (click)="onClickFileInputButton()">
                    Seleccion la imatge de l'event
                    <mat-icon>attach_file</mat-icon>
                </button>
                <p class="file-name" *ngIf="!file; else fileName"></p>
                <ng-template #fileName>
                    <p class="file-name">{{ file?.name }}</p>
                </ng-template>
            </div>
        </div>
        <div class="mainInfo" [ngClass]="{error: noLinks}">
            <mat-form-field >
                <mat-label>link</mat-label>
                <input matInput [(ngModel)]="newUrl" type="text">
            </mat-form-field>
            <button style="align-self: flex-end;" mat-raised-button (click)="addLink()" >Afegir link</button>
            <div *ngFor="let link of data.links" class="link">
                <div [ngSwitch]="link.platform">
                    <div *ngSwitchCase="'youtube'">
                        <a href={{link.url}} target="_blank" ><img class="icon" src="assets/icons/logo-youtube-black.svg" title="{{link.url}}"></a>
                    </div>
                    <div *ngSwitchCase="'instagram'">
                        <a href={{link.url}} target="_blank"><img class="icon" src="assets/icons/logo-instagram-black.svg" title="{{link.url}}"></a>
                    </div>
                    <div *ngSwitchDefault>
                        <a href={{link.url}} target="_blank"><img class="icon" src="assets/icons/link.svg"></a>
                    </div>
                </div>
                <!-- <a *ngIf="link.platform == 'youtube'" href="{{link.url}}" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/logo-youtube-black.svg" title="{{link.url}}">
                </a>
                <a *ngIf="link.platform == 'instagram'" href="{{link.url}}" target="_blank" rel="noopener noreferrer">
                    <img src="assets/icons/logo-instagram-black.svg" title="{{link.url}}">
                </a> -->
                <button mat-button> <img src="assets/icons/delete.svg" (click)="deleteLink(link)"> </button>
            </div>
        </div>
        
        <div class="mainInfo" >
            <mat-form-field >
                <mat-label>Categoria</mat-label>
                <mat-select [(ngModel)]="newCategorie">
                    <mat-option *ngFor="let c of categories" [value]="c">
                      {{c}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <button style="align-self: flex-end;" mat-raised-button (click)="addCategorie()" >Afegir categoria</button>
            <div *ngFor="let categorie of data.categories" class="link">
                <span>{{categorie}}</span>
                <button mat-button> <img src="assets/icons/delete.svg" (click)="deleteCategorie(categorie)"> </button>
            </div>
            
        </div>
        <div class="mainInfo">
            <mat-form-field >
                <mat-label>Subcategoria</mat-label>
                <input matInput [(ngModel)]="newSubcategorie" type="text">
            </mat-form-field>
            <button style="align-self: flex-end;" mat-raised-button (click)="addSubcategorie()" >Afegir subcategoria</button>
            <div *ngFor="let categorie of data.subcategories" class="link">
                <span>{{categorie}}</span>
                <button mat-button> <img src="assets/icons/delete.svg" (click)="deleteSubcategorie(categorie)"> </button>
            </div>
        </div>
    </div>
    
    <button style="align-self: flex-end;" mat-raised-button (click)="createMeetup()" color="primary">Create event!</button>
</div>