<div class="meetup-form">
    <h1>Create new event</h1>
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="title" type="text" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput type="datetime-local" placeholder="start date" [(ngModel)]="datetime" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="description" type="text"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Platform</mat-label>
        <input matInput [(ngModel)]="platform" type="text" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Link</mat-label>
        <input matInput [(ngModel)]="link" type="text" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="category" type="text" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Subcategory</mat-label>
        <input matInput [(ngModel)]="subcategory" type="text" required>
    </mat-form-field>
    <br>
    <div class="container">
        <input type="file" style="display: none" #fileInput accept="image/*" (change)="onChangeFileInput()" />
        <button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
          <mat-icon>attach_file</mat-icon>
          Select Image
        </button>
        <p class="file-name" *ngIf="!file; else fileName">No image</p>
        <ng-template #fileName>
            <p class="file-name">{{ file?.name }}</p>
        </ng-template>
    </div>
    <br><br>
    <button mat-raised-button (click)="registerUser()" color="primary">Create event!</button>
    <br><br>
    <a mat-raised-button routerLink="/">Not now</a>
</div>